<div class="navbar navbar-default" id="subnav">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="navbar-header">

                <ul class="nav navbar-nav">
                    <!--<li ui-sref-active="active"><a ui-sref="dashboard" role="button">Dashboard</a></li>-->
                    <!--<li ui-sref-active="active"><a ui-sref="profile" role="button">Profile</a></li>-->
                    <li ui-sref-active="active"><a ui-sref="datasources" role="button">Data Sources</a></li>
                    <!--<li ui-sref-active="active"><a ui-sref="search" role="button">Search</a></li>-->
                </ul>

            </div>
        </div>
    </div>
</div>